<html> 
    <head>
        <link rel="stylesheet" href="/static/css/baseLife.css" type="text/css"></link>
    </head>
    <body> 
        {% block content %} {% endblock %}
        <div class="container container-fluid">
            <main role="main">

            <div class="filter-bar">
                <ul class="type-filter">
                    <li class="">
                    <a href="https://www.baidu.com">百度</a>
                    </li>
                    <li class="">
                    <a href="https://www.baidu.com">百度1</a>
                    </li>
                    <li class="">
                    <a href="https://www.baidu.com">百度2</a>
                    </li>
                </ul>
            </div>

            <div class="post-row" style="min-height:641px;">
                ::before
                <div style="width: 403px; margin-bottom: 20px; clear: left; margin-left: 0px;" class="post-collage" data-type="multi-photo" data-post-id="13007509" data-published-at="2016-04-16 21:23:34" data-width="5689" data-height="3793">
                    <a href="https://zeroxy.tuchong.com/13007509/" class=" theatre-view" data-site-id="313088" data-location="content" target="_blank">
                        <figure class="main-collage">
                        <img style="height: 302px; width: 403px;" src="https://photo.tuchong.com/313088/ft640/8597062.jpg" alt="">
                        </figure>
                    </a>

                    </div>
                </div>
                ::after
            </div>
            </main>
            ::after
        </div>
    </body>

</html>
